@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #00A4EF;
    --main-color-hover: #1dabee;
}

/* ::selection {
    color: #fff;
    background: #00A4EF;
} */

body {
    min-height: 100vh;
    background: var(--main-color);
    overflow: hidden;
}

.container{
    max-width: 800px;
    width: 100%;
    background-color: white;
    margin: 30px auto 0;
    border-radius: 5px;
}

header{
    position: relative;
    margin: 20px auto 0;
    padding: 10px 0;
    background-color: #000;
}

header h1{
    text-align: center;
    color: #fff;
}

nav{
    position: relative;
    background-color: #555;
    padding: 15px 10%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav button{
    color: #000;
    border: none;
    outline: none;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

nav button:last-child{
    background-color: #ff0000;
    color: #fff;
}

section{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 10px;
}

section div textarea{
    max-width: 100%;
    border: 1.5px solid #000;
    padding: 3px;
    font-size: 15px;
}

section div textarea:focus,
section div textarea:hover{
    border: 1.5px solid #666;
}

section div:first-child{
    width: 48%;
}

section div:last-child{
    width: 48%;
}

section label{
    color: #000;
    font-size: large;
    font-weight: 500;
}

/* ----------------------------- Make Bold ------------------------------ */
.makeBold{
    font-weight: 900;
}

/* ----------------------------- Make Italic ------------------------------ */
.makeItalic{
    font-style: italic;
}

/* ----------------------------- Make Underline ------------------------------ */
.makeUnderline{
    text-decoration: underline;
}

/* ----------------------------- Make Strike ------------------------------ */
.makeStrike{
    text-decoration:line-through;
}

.onLeft{
    float: left;
}

.onRight{
    text-decoration: underline;
    float: right;
}